{% extends "base.html" %}
{% load static %}

{% block content %}

<h1>Tempo di esecuzione: {{ tempo_di_esecuzione }}</h1>
<br/>
<h2>Similarity: </h2>
<table class="table">
    {% for row in sim_matrix %}
        <tr>
            {% for cell in row %}
                {% if cell == request.session.label1 %}
                    <td bgcolor="#FF5733">
                        {{ cell }}
                    </td>
                {% endif %}
                {% if cell == request.session.label2 %}
                    <td bgcolor="#FFC300">
                        {{ cell }}
                    </td>
                {% endif %}
                {% if cell == request.session.label3 %}
                    <td bgcolor="#DAF7A6">
                        {{ cell }}
                    </td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
</table>

{% endblock %}
