{% extends "base.html" %}
{% load static %}

{% block content %}

<h1>Tempo di esecuzione: {{ tempo_di_esecuzione }}</h1>
<br/>
<h2>Similarity: </h2>
<table class="table">
    {% for row in sim_matrix %}
        <tr>
            {% for cell in row %}
                <td>
                    {{ cell }}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>

<a target="_blank"
    class="btn btn-info pull-right"
    href="{% url download_csv %}">
    Download CSV
</a>

{% endblock %}
