{% extends "base.html" %}
{% load static %}

{% block content %}

    <h1>Tempo di esecuzione: {{ tempo_di_esecuzione }}</h1>
    <h2>
        {{ request.session.label1 }}: {{ percentage1 }}% <br/>
        {{ request.session.label2 }}: {{ percentage2 }}% <br/>
        {{ request.session.label3 }}: {{ percentage3 }}% <br/>
    </h2>
    <h3>Elementi matrice: {{ size }}</h3>
    <hr>
    <a href="matrix_label.csv">Download matrice etichette</a>
    <a href="matrix_val.csv">Download matrice valori</a>
    <hr>
    <br/>
    <h2>Similarity: </h2>
    <table class="table">
        {% for row in sim_matrix %}
            <tr>
                {% for cell in row %}
                    {% if request.session.label1 in cell %}
                        <td bgcolor="#FF5733">
                            {{ cell }}
                        </td>
                    {% endif %}
                    {% if request.session.label2 in cell %}
                        <td bgcolor="#FFC300">
                            {{ cell }}
                        </td>
                    {% endif %}
                    {% if request.session.label3 in cell %}
                        <td bgcolor="#DAF7A6">
                            {{ cell }}
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>

{% endblock %}
