{% extends "base.html" %}
{% load static %}

{% block content %}

    <style>
        .index.html{
            min-width: 30%
        }
    </style>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit" />
    </form>

    <br><br>
    <h4>Ricorda: attualmente sono supportati solo formati di file semplici e liberi (.txt, .csv,...),
        inoltre il fatto di inserire un file come File 1 e non come File 2 genera differenze nell'output
    </h4>

{% endblock %}
