django
gunicorn
#waitress
django-heroku
spacy==2.3.6
https://github.com/explosion/spacy-models/releases/download/it_core_news_md-2.3.0/it_core_news_md-2.3.0.tar.gz
numpy
gensim
pymongo
scipy
setuptools
redis