setuptools==40.3.0
scipy==0.18.1
django
gunicorn
django-heroku
spacy==2.3.6
https://github.com/explosion/spacy-models/releases/download/it_core_news_sm-2.3.0/it_core_news_sm-2.3.0.tar.gz
numpy
gensim
pymongo
redis